# Imports

In [84]:
import pandas as pd
import matplotlib.pyplot as plt

# Extract Data

In [85]:
df = pd.read_csv('nike_vs_addidas.csv')
df.head()

,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,AH2430,14999,7499,50,Adidas Adidas ORIGINALS,4.8,41
1,Women's adidas Originals Sleek Shoes,G27341,7599,3799,50,Adidas ORIGINALS,3.3,24
2,Women's adidas Swim Puka Slippers,CM0081,999,599,40,Adidas CORE / NEO,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,B44832,6999,3499,50,Adidas CORE / NEO,4.1,35
4,Women's adidas Originals Taekwondo Shoes,D98205,7999,3999,50,Adidas ORIGINALS,3.5,72

In [86]:
df.isnull().sum()

Product Name     0
Product ID       0
Listing Price    0
Sale Price       0
Discount         0
Brand            0
Rating           0
Reviews          0
dtype: int64

# Transform Data

In [87]:
df['Brand'].unique()

array(['Adidas Adidas ORIGINALS', 'Adidas ORIGINALS', 'Adidas CORE / NEO',
       'Adidas SPORT PERFORMANCE', 'Nike'], dtype=object)

In [88]:
df['Brand'] = df['Brand'].apply(lambda x: 'Addidas' if 'Adidas' in x else x)

In [89]:
df['Listing Price'] = df['Listing Price'].apply(lambda x: x/100)
df['Sale Price'] = df['Sale Price'].apply(lambda x: x/100)

In [90]:
df['Listing Price'] = df.apply(lambda x: x['Sale Price'] if x['Sale Price'] > x['Listing Price'] else x['Listing Price'], axis=1)

In [97]:
df['Discount'] = round((df['Listing Price'] - df['Sale Price']) / df['Listing Price']*100)

# Explore Data

In [107]:
df.head()

,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,AH2430,149.99,74.99,50.0,Addidas,4.8,41
1,Women's adidas Originals Sleek Shoes,G27341,75.99,37.99,50.0,Addidas,3.3,24
2,Women's adidas Swim Puka Slippers,CM0081,9.99,5.99,40.0,Addidas,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,B44832,69.99,34.99,50.0,Addidas,4.1,35
4,Women's adidas Originals Taekwondo Shoes,D98205,79.99,39.99,50.0,Addidas,3.5,72

In [108]:
df['Brand'].value_counts()

Brand
Addidas    2625
Nike        643
Name: count, dtype: int64